/* Hero Section Start */
.home {
  color: #fff;
  padding-top: 40px;
  text-align: center;
}

.text1, .text2 {
  font-size: 60px;
  color: #ffde00;
}

.iklan-text {
  padding-top: 20px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.home .btn {
  margin-top: 20px;
  background-color: #ffde00;
  color: #bf0000;
}

.home img {
  max-width: 80%;
}

/* Gelombang Start */
#wave-container {
  position: relative;
  margin-top: -10px;
}

/* Projects Start */
#projects, #bd {
  background-color: #ffde00;
}

.card-text {
  font-family: "Lato", sans-serif;
}

/* Bakpia Day Start */
.gunungan1-text {
  font-size: 50px;
}

.gunungan2-text {
  padding: 20px;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}

#bd img, .home img {
  max-width: 80%;
}

/* Product Section Start */
.product {
  background-color: #ffde00;
}

.product .populer h3 {
  font-size: 25px;
}

.populer i {
  font-size: 2rem;
  color: #bf0000;
}

.product-populer .card-product {
  width: 490px;
}

.product-populer .img-box {
  border: 2px solid #bf0000;
}

.detail-product .label {
  background-color: #bf0000;
  width: 100px;
  color: #ffffff;
}

.detail-product a {
  border: 2px solid #bf0000;
  color: #bf0000;
}

.detail-product a:hover {
  background-color: #bf0000;
  color: #ffde00;
}

/* Responsive */
@media (max-width: 768px) {
  .populer i {
    font-size: 1.5rem;
  }

  .product-populer .card-product {
    width: 260px;
  }

  /* Additional Responsive Styles */
  .bakpia-text, .fadila-text {
    font-size: 40px;
  }

  .iklan-text {
    font-size: 16px;
  }

  .hero-section .btn {
    margin-top: 10px;
  }

  .gunungan1-text, .gunungan2-text {
    font-size: 40px;
    padding: 10px;
  }
}
