/* Hero Section Start */
.home {
  background-color: #bf0000;
  color: #fff;
  padding-top: 40px;
  text-align: center;
}

.text1, .text2 {
  font-size: 60px;
  color: #ffde00;
}

.iklan-text {
  padding-top: 20px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.home .btn {
  margin-top: 20px;
  background-color: #ffde00;
  color: #bf0000;
}

.home img {
  max-width: 80%;
}

/* Gelombang Start */
#wave-container {
  background-color: #bf0000
  position: relative;
  margin-top: -10px;
}

/* Projects Start */
#projects, #bd {
  background-color: #ffde00;
}

.card-text {
  font-family: "Lato", sans-serif;
}

/* Bakpia Day Start */
.gunungan1-text {
  font-size: 50px;
}

.gunungan2-text {
  padding: 20px;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}

#bd img, .home img {
  max-width: 80%;
}

/* Product Section Start */
.product {
  background-color: #ffde00;
}

.product .populer h3 {
  font-size: 25px;
}

.populer i {
  font-size: 2rem;
  color: #bf0000;
}

.product-populer .card-product {
  width: 490px;
}

.product-populer .img-box {
  border: 2px solid #bf0000;
}

.detail-product .label {
  background-color: #bf0000;
  width: 100px;
  color: #ffffff;
}

.detail-product a {
  border: 2px solid #bf0000;
  color: #bf0000;
}

.detail-product a:hover {
  background-color: #bf0000;
  color: #ffde00;
}

/* Banner Start */
.dark-image {
  filter: brightness(20%);
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  background-color: rgba(94, 0, 0, 0.137);
  background-blend-mode: multiply;
}

.card-title {
  font-size: 30px;
  letter-spacing: 25px;
}

/* Banner End */


/* Banner styles */
.dark-image {
  filter: brightness(20%);
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  background-color: rgba(94, 0, 0, 0.137);
  background-blend-mode: multiply;
}

.card-title {
  font-size: 30px;
  letter-spacing: 25px;
  color: white;
}

/* Carousel styles */
.carousel-item {
  position: relative;
}

.carousel-item .card {
  height: 100%;
}

.carousel-item .card-img {
  object-fit: cover;
  height: 100%;
}

.carousel-item .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item .card-img {
  object-fit: cover;
  height: 551px;
}

/* Carousel styles */
.carousel-indicators {
  bottom: 10px;
  text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: #fde000;
}

/* ingredients start */
.card-ingredients {
  background-color: #bf0000;
  border-radius: 0.5rem;
}

.label {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.heading {
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}

/* cart start */
.card-ingredients {
  background-color: #bf0000;
  color: #ffffff;
}

.card-ingredients .btn-ingredients {
  border: 2px solid #fde000;
  color: #fde000;
  font-family: 'Lato', sans-serif;
  font-weight: 700;

}

.card-ingredients .btn-ingredients:hover {
  background-color: #fde000;
  color: #bf0000;
  text-decoration: underline;
}

/* cart end */


.img-service img {
  width: 200px;
  height: auto;
}

/* ingredients end */


/* about start*/
#original {
  background-color: #ffde00;
}

/* about end */

/* responsive */
@media (max-width: 767px) {
  .heading {
    font-size: 25px;
  }

  .card-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
  }

  .card-title {
    font-size: 15px;
    letter-spacing: 10px;
  }

  .carousel-inner .carousel-item {
    height: 250px;
  }

  .carousel-inner .carousel-item img {
    object-fit: cover;
    height: 100%;
  }

  .carousel-inner .carousel-item .card {
    height: 100%;
  }

  .carousel-inner .carousel-item .card-title {
    font-size: 16px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .populer i {
    font-size: 1.5rem;
  }

  .product-populer .card-product {
    width: 260px;
  }

  /* Additional Responsive Styles */
  .bakpia-text, .fadila-text {
    font-size: 40px;
  }

  .iklan-text {
    font-size: 16px;
  }

  .hero-section .btn {
    margin-top: 10px;
  }

  .gunungan1-text, .gunungan2-text {
    font-size: 16px;
    padding: 10px;
  }
}
